body {
    padding-bottom: 70px;
}

.list-group {
    margin-bottom: 0;
}

.list-group .list-group-item{

}

.page-header {
    background: url("../img/background.jpg");
    margin:0;
    padding:0;
    min-height: 70px;
}

.page-header .child {
    padding:10px;
}

.page-header .child .photo {
    float:left;
    width:50px;
    height:50px;
}

.page-header .child .name {
    display: block;
}

.page-header .child .name h1 {
    font-size:30px;
    line-height: 50px;
    margin: 0 0 0 10px;
}

.page-header .child .new-child {
    background: url("../img/teddy-bear.png");
    background-size: 18px 18px;
    position: relative;
    top: 1px;
    display: inline-block;
    width: 18px;
    height: 18px;
}

.page-header .logo {
    float:right;
}

.page-header .logo h2 {
    font-size:14px;
    line-height: 30px;
    margin-right:10px;
    font-weight: bold;
    color:#d3d3d3;
}

.navigation{
    margin:0;
    padding:0;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    width:100%;
    border:solid 1px #eaeaea;
    border-top:0;
    background-color: #fff;
}

.navigation>li {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;

    padding:10px;

    text-align: center;
    list-style-type: none;
}

.navigation .glyphicon {
    font-size:48px;
    color:#373737;
}

.navigation>li>a>i.feeding,
.navigation>li>a>i.diapers {
    position: relative;
    top: 1px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content:"";
    width:64px;
    height:64px;
}

.navigation>li>a>i.feeding{
    background:url("../img/bottle.png");
    background-size: 64px 64px;
}

.navigation>li>a>i.diapers{
    background:url("../img/safety-pin.png");
    background-size: 64px 64px;
}


.navigation>li.active .glyphicon {
    color:#ffffff;
}

.navigation>li.active.home {
    background-color: #9dbab8;
}

.navigation>li.active.feeding{
    background-color: #f5d954;
}

.navigation>li.active.diapers {
    background-color: #9ddddc;
}

.navigation>li.active.settings {
    background-color: #a46f43;
}

.navigation>li.active.feeding>a>i.feeding{
    background:url("../img/bottle-white.png");
    background-size: 64px 64px;
}

.navigation>li.active.diapers>a>i.diapers{
    background:url("../img/safety-pin-white.png");
    background-size: 64px 64px;
}

.navbar-fixed-bottom{
    background: #fff url("../img/background.jpg");
    border-top: solid 1px #ddd;
    padding:10px;
}

.container {
    padding:10px;
}


.settings-container .panel-heading {
    background-color: rgba(164, 111, 67, 0.8);
    color:#fff;
}

.settings-container .panel-footer {
    background-color: rgba(164, 111, 67, 0.2);
}

.settings-container .btn-default:hover,
.settings-container .btn-default:focus,
.settings-container .btn-default:active,
.settings-container .btn-default.active,
.settings-container .open .dropdown-toggle.btn-default{
    background-color: rgba(164, 111, 67, 0.4);
    color:#fff;
}