<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.edurdias.mylittlelove"
        versionCode="1.1"
        version= "1.0.0">

    <name>My Little Love</name>
    <description>There is nothing more important to a parent than their baby's health. My Little Love is an application that helps parents to track their baby's activities and health. It will allow daddy and mom to track feeding, diaper changes, sleep time, weight, medicines and pediatrician visits.</description>
    <author>Eduardo Dias</author>

    <!-- Preferences -->
    <gap:platform name="android" />
    <preference name="orientation" value="portrait" />

    <!-- Icon and Splash Screens -->
    <icon src="icon.png" />
    <gap:splash src="img/splash-ldpi.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="img/splash-mdpi.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="img/splash-hdpi.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="img/splash-xhdpi.png" gap:platform="android" gap:density="xhdpi" />

    <!-- Features -->
    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/camera"/>

    <!-- Plugins -->
    <!--<gap:plugin name="org.apache.cordova.camera" />-->
    <!--<gap:plugin name="org.apache.cordova.splashscreen" />-->

</widget>