<div ng-controller="FeedingNewNursingActivityController">
    <div class="btn-group btn-group-justified" data-toggle="buttons">
        <label class="btn btn-default " ng-click="setSide('left')" ng-class="{ disabled : isRunning }" >
            <input type="radio" name="type" /> Left
        </label>
        <label class="btn btn-default " ng-click="setSide('right')" ng-class="{ disabled : isRunning }">
            <input type="radio" name="type" /> Right
        </label>
    </div>

    <div class="well stopwatch">
        <i class="glyphicon glyphicon-time"></i>  {{readableTimeElapsed}}
    </div>

    <button class="btn btn-block" ng-class="{ disabled : !getSide(), 'btn-primary' : !isRunning, 'btn-danger' : isRunning }" ng-click="toggle($event)">
        {{(!isRunning ? "Start" : "Stop" )}}
    </button>

    <div class="text-center margin-top-10px">
        <button class="btn btn-primary " ng-class="{ disabled : !getSide() || isRunning }" ng-click="save()">
            Save
        </button>
        <button class="btn btn-default " ng-class="{ disabled : !getSide() || isRunning }" ng-click="cancel()">
            Cancel
        </button>
    </div>
</div>