<div class="diapers-container">
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body" >

            <div ng-show="message" class="alert alert-danger">
                {{message}}
            </div>

            <div class="form-group">
                <label>Diaper</label>
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default" ng-click="wet=!wet">
                        <input type="checkbox" /> Wet
                    </label>
                    <label class="btn btn-default" ng-click="dirty=!dirty">
                        <input type="checkbox" /> Dirty
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>Time</label>
                <input type="datetime-local" class="form-control" ng-model="time" />
            </div>

            <div class="text-center">
                <button class="btn btn-primary " ng-click="save()">
                    Save
                </button>
                <button class="btn btn-default " ng-click="cancel()">
                    Cancel
                </button>
            </div>

        </div>
        <div class="panel-footer">

        </div>
    </div>
</div>